<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Server</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
        <% include  blocks/header.ejs %>
    <h1>Спасибо</h1>

    <ul>
        <li>Name <%= data.name %> </li>
        <li>Phone <%= data.phone %> </li>
        <li>Date <%= data.date %> </li>
    </ul>
     
</body>
</html>