<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Server</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
        <% include  blocks/header.ejs %>
    <h1>General</h1>

    <form action="/" method="POST">
    <input name="name" type="text" placeholder="set the data">
    <input name="phone" type="number" placeholder="set the data">
    <input name="date" type="date" placeholder="set the data">

    <button type="submit" > Отправить даннные </button>
    <button type="reset" > Очистить форму</button>
    </form>
</body>
</html>